<div
  x-data="{
    skip: 1,
    atBeginning: false,
    atEnd: false,
    next() {
      this.to((current, offset) => current + (offset * this.skip))
    },
    prev() {
      this.to((current, offset) => current - (offset * this.skip))
    },
    to(strategy) {
      let slider = this.$refs.slider
      let current = slider.scrollLeft
      let offset = slider.firstElementChild.getBoundingClientRect().width
      slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
    },
    focusableWhenVisible: {
      'x-intersect:enter'() {
        this.$el.removeAttribute('tabindex')
      },
      'x-intersect:leave'() {
        this.$el.setAttribute('tabindex', '-1')
      },
    },
    disableNextAndPreviousButtons: {
      'x-intersect:enter.threshold.05'() {
        let slideEls = this.$el.parentElement.children

        // If this is the first slide.
        if (slideEls[0] === this.$el) {
          this.atBeginning = true
        // If this is the last slide.
        } else if (slideEls[slideEls.length-1] === this.$el) {
          this.atEnd = true
        }
      },
      'x-intersect:leave.threshold.05'() {
        let slideEls = this.$el.parentElement.children

        // If this is the first slide.
        if (slideEls[0] === this.$el) {
          this.atBeginning = false
        // If this is the last slide.
        } else if (slideEls[slideEls.length-1] === this.$el) {
          this.atEnd = false
        }
      },
    },
  }"
  class="flex flex-col w-full"
>
  <div
    x-on:keydown.right="next"
    x-on:keydown.left="prev"
    tabindex="0"
    role="region"
    aria-labelledby="carousel-label"
    class="flex space-x-6"
  >
    <h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>
    <span id="carousel-content-label" class="sr-only" hidden>Carousel</span>

    <ul
      x-ref="slider"
      tabindex="0"
      role="listbox"
      aria-labelledby="carousel-content-label"
      class="flex w-full gap-6 overflow-x-scroll snap-x snap-mandatory lg:gap-8"
    >
      <li x-bind="disableNextAndPreviousButtons" class="flex flex-col items-center justify-center w-[35%] shrink-0 snap-start" role="option">
        <%= image_tag("slide-one.jpg", class: 'w-full rounded', alt: 'Image one') %>
      </li>
      <li x-bind="disableNextAndPreviousButtons" class="flex flex-col items-center justify-center w-[35%] shrink-0 snap-start" role="option">
        <%= image_tag("slide-two.jpg", class: 'w-full rounded', alt: 'Image two') %>
      </li>
      <li x-bind="disableNextAndPreviousButtons" class="flex flex-col items-center justify-center w-[35%] shrink-0 snap-start" role="option">
        <%= image_tag("slide-three.jpg", class: 'w-full rounded', alt: 'Image three') %>
      </li>
      <li x-bind="disableNextAndPreviousButtons" class="flex flex-col items-center justify-center w-[35%] shrink-0 snap-start" role="option">
        <%= image_tag("slide-four.jpg", class: 'w-full rounded', alt: 'Image Four') %>
      </li>
      <li x-bind="disableNextAndPreviousButtons" class="flex flex-col items-center justify-center w-[35%] shrink-0 snap-start" role="option">
        <%= image_tag("slide-five.jpg", class: 'w-full rounded', alt: 'Image five') %>
      </li>
    </ul>
  </div>

  <div class="flex justify-center mt-6 space-x-2">
    <button
      x-on:click="prev"
      class="<%= button_round_primary %>"
      :aria-disabled="atBeginning"
      :tabindex="atEnd ? -1 : 0"
      :class="{ 'opacity-50 cursor-not-allowed': atBeginning }"
    >
      <%= inline_svg 'arrow-left', class: 'h-4 w-4' %>
      <span class="sr-only">Skip to previous slide page</span>
    </button>

    <button
      x-on:click="next"
      class="<%= button_round_primary %>"
      :aria-disabled="atEnd"
      :tabindex="atEnd ? -1 : 0"
      :class="{ 'opacity-50 cursor-not-allowed': atEnd }"
    >
      <%= inline_svg 'arrow-right', class: 'h-4 w-4' %>
      <span class="sr-only">Skip to next slide page</span>
    </button>
  </div>
</div>
