<div class="text-center space-y-6 mb-8 lg:mb-20 <%= content_header_wrapper %>">
  <h1 class="text-4xl font-bold lg:text-5xl text-brand-black">Design solutions made easy</h1>
  <p class="text-[18px] px-8 lg:px-0">With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.</p>
</div>
<section class="pb-24 lg:pb-32">
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 <%= page_wrapper %> transition-all duration-300">
    <div class="h-40 rounded-lg md:h-full bg-galactic-blue"></div>

    <div class="grid gap-6 md:grid-cols-2 lg:col-span-1">
      <div class="h-40 col-span-1 rounded-lg bg-summer-yellow"></div>
      <div class="h-40 col-span-1 rounded-lg bg-salmon"></div>
      <div class="h-40 col-span-2 rounded-lg bg-light-red"></div>
    </div>

    <div class="grid gap-6 md:grid-cols-2 md:col-span-2 lg:col-span-1">
      <div class="h-40 rounded-lg lg:col-span-2 bg-cyan"></div>
      <div class="h-40 rounded-lg lg:col-span-2 bg-deep-purple"></div>
    </div>
  </div>
</section>

<section class="<%= page_wrapper %> flex flex-col items-center justify-center gap-10 lg:flex-row lg:gap-32 pb-24 lg:pb-20">
  <div class="h-[300px] w-[300px] lg:w-[445px] lg:h-[445px] overflow-hidden rounded-full bg-cyan flex-shrink-0"></div>
  <div class="px-12 space-y-6 text-center lg:text-left lg:px-0">
    <h2 class="text-2xl font-bold lg:text-3xl text-brand-black">I'm Amy, and I'd love to work on your next project</h2>
    <p>I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!</p>
    <a href="#" class="<%= button_secondary %>">Free Consultation</a>
  </div>
</section>


<section class="pb-20 overflow-hidden lg:pb-32 ">
  <h2 class="mb-8 text-2xl font-bold text-center lg:text-3xl text-brand-black lg:mb-16">My Work</h2>
  <div class="flex gap-6 overflow-x-auto lg:gap-8 snap-x">
    <div class="w-[270px] lg:w-[540px] h-180 lg:h-[360px] bg-black bg-opacity-5 rounded flex-shrink-0 snap-center"></div>
    <div class="w-[270px] lg:w-[540px] h-180 lg:h-[360px] bg-black bg-opacity-5 rounded flex-shrink-0 snap-center"></div>
    <div class="w-[270px] lg:w-[540px] h-180 lg:h-[360px] bg-black bg-opacity-5 rounded flex-shrink-0 snap-center"></div>
    <div class="w-[270px] lg:w-[540px] h-180 lg:h-[360px] bg-black bg-opacity-5 rounded flex-shrink-0 snap-center"></div>
    <div class="w-[270px] lg:w-[540px] h-180 lg:h-[360px] bg-black bg-opacity-5 rounded flex-shrink-0 snap-center"></div>
  </div>
</section>

<div class="pb-32">
  <section class="<%= page_wrapper %> bg-brand-black text-white flex items-center gap-6 lg:gap-48 text-center lg:text-left rounded-lg">
    <div class="lg:basis-[540px] py-12 pl-16">
      <h2 class="mb-2 text-2xl font-bold lg:text-3xl">Book a call with me</h2>
      <p class="text-light-cream">I'd love to have a chat to see how I can help you. The best first step is for us to discuss your project during a free consultation. Then we can move forward from there.</p>
    </div>
    <div>
      <a href="#" class="<%= button_secondary %>">Free Consultation</a>
    </div>
  </section>
</div>

<div class="hidden">
  <button class="<%= button_primary %>">Free Consultation</button>
  <button class="<%= button_secondary %>">Free Consultation</button>
  <button class="<%= button_round_primary %>">
    <%= inline_svg 'arrow-left', class: 'w-4' %>
  </button>
  <button class="<%= button_round_primary %>">
    <%= inline_svg 'arrow-right', class: 'w-4' %>
  </button>
</div>
